* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: #3a4a58;
    color: #8c8c8c;
    font-weight: 400;
    font-size: 1.0625rem;
    margin: 0;
    padding: 15px;
}

a {
    text-decoration: none;
    color: #333333;
}

.page-wrapper {
    width: 580px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header > img {
    width: 100%;
    max-width: 80px;
    display: inline-block;
}

h1 {
    font-weight: 100;
    font-size: 2rem;
    color: white;
    display: inline-block;
    vertical-align: bottom;
}

main {
    background-color: white;
}

#picture-section {
    margin-top: 1rem;
    background: url('images/nyc-view.jpg') no-repeat top center;
    background-size: cover;
    overflow: hidden;
}

#picture-section > img {
    width: 100%;
}

hr {
    width: 450px;
}

.section-heading {
    color: #996633;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2.2rem;
    font-weight: 100;
}

.menu-items {
    border-spacing: 0px;
    width: 100%;
}

th {
    color: rgb(51, 51, 51);
    height: 50px;
    background-color: rgb(196, 205, 214);
    font-weight: 400;
    font-size: 1.8rem;
    padding-left: 20px;
    padding-right: 20px;
}

tr:nth-child(2n+1) {
    background-color: rgb(229, 232, 237);
}

.item-name {
    text-align: left;
}

td {
    padding: 10px 15px;
    font-size: 1.21rem;
    text-align: center;
}

#special-items {
    text-align: center;
}

.items-title {
    font-size: 1.7rem;
    color: #333333;
    font-weight: 100;
}

p {
    font-size: 1.3rem;
    padding: 20px;
    line-height: 1.8;
    font-weight: 100;
}

#contact-section {
    text-align: center;
}

span {
    font-weight: bold;
    color: #333333;
}

#contact-section img {
    width: 100%;
    max-width: 40px;
    height: auto;
    margin-bottom: 1rem;
}

#contact-section img:hover {
    transform: scale(1.2) rotate(2deg);
}

footer {
    text-align: center;
    color: white;
    font-weight: 100;
    margin-top: 2rem;
}

#copyright {
    font-size: 1.2rem;
}

/* large screens */

@media (min-width: 768px) {
    .page-wrapper {
        width: 800px;
    }

    #coffee-mug {
        max-width: 100px;
    }

    h1 {
        font-size: 2.4rem;
    }

    .section-heading {
        font-size: 1.8rem;
    }

    .menu-items {
        width: 700px;
        margin: 0 auto;
    }

    td,
    p {
        font-size: 1.2rem;
    }

    th {
        font-size: 1.6rem;
    }

    #about-section {
        margin-left: 50px;
        margin-right: 50px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        justify-items: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 140px;
        margin-right: 50px;
        margin-left: 50px;
    }


    .grid-container > img {
        width: 200px;
        height: auto;
        align-content: center;
        margin: 3px;
        margin: 0 auto;
        display: block;
    }


    .items-title {
        font-size: 1.1rem;
        font-weight: 100;
        margin-bottom: -270px;
        display: block;
        width: 320px;
        margin-left: -180px;
        text-align: center;
    }

    #copyright {
        font-size: 1rem;
    }
}
